.s-notes {
  &__title {
    font-size: 36px;
    margin-bottom: 16px;
    font-weight: 900;
  }

  &__content {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1280px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}